* {
    font-family: helvetica;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* cabeçalho */

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 10px solid white;
    color: white;
    background-color: blueviolet;
    width: 100%;
}

.logo-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
}

.logo {
    width: 60px;
    margin-right: 12px;
    border: 5px solid white;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: blueviolet;
    text-decoration: none;
}

ul li {
    margin-right: 12px;
    color: blueviolet;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    border-radius: 20%;
}

li a {
    text-decoration: none;
}

/* corpo */

main {
    min-height: 60vh;
}

.fundo {
    background-color:blueviolet ;
}


.container {
    width: 1000px;
    height: 550px; 
    color: white;
    margin: 10px auto 10px auto;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-container {
    margin: 60px auto 0 auto;
    width: 500px;
}

.titulo {
    font-size: 30px;
    margin-bottom: 15px;
}

.conteudo {
    font-size: 30px;
}


/* rodapé */

footer {
    padding: 20px;
    border-top: 1px solid white;
    margin-top: 1px;
    align-items: center;
    background-color: blueviolet;
    color: white;
}

/* responsivo */

@media (max-width: 600px) {
    
/* cabeçalho */


nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid white;
    color: white;
    background-color: blueviolet;
    width: 90%;
}

.logo-titulo {
    display: flex;
    font-size: 9px;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
}

.logo {
    width: 50px;
    margin-right: 7px;
    border: 2px solid white;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: blueviolet;
    text-decoration: none;
}

ul li {
    margin-right: 5px;
    margin-bottom: 2px;
    color: blueviolet;
    padding: 1px;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    border-radius: 20%;
}

li a {
    text-decoration: none;
    font-size: 15px;
}

/* corpo */

main {
    min-height: 60vh;
}

.fundo {
    background-color:blueviolet ;
}


.container {
    width: 100%;
    height: 650px; 
    color: white;
    margin: 10px auto 10px auto;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-container {
    margin: 60px auto 0 auto;
    width: 100%;
}

.titulo {
    font-size: 20px;
    margin-bottom: 15px;
}

.conteudo {
    font-size: 20px;
}

/* rodapé */

footer {
    padding: 20px;
    border-top: 1px solid white;
    margin-top: 1px;
    align-items: center;
    background-color: blueviolet;
    color: white;
}
}